.furniro {
  font: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 41.45px;
}

.backg {
  background-color: #ffffff;
}

.backgnd {
  position: relative;
}

.rgt-nav {
  margin-left: 20px;
}

.maindiv-title1{
  background-color: red;
}

.box-rgt {
  width: 643px;
  height: 443px;
  background-color: #fff3e3;
  border-radius: 12px;
  padding-top: 70px;
  padding-left: 32px;
}

.box-wrap-all {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 93%;
}

.newarr {
  font: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3px;
}

.newarr-one {
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  color: #b88e2f;
  width: 450px;
}

.box-rgt-padn {
  padding: 5px;
}

.box-btm {
  width: 222px;
  height: 74px;
  padding: 25px 72px 25px 72px;
  gap: 10px;
  opacity: 0px;
  background: #b88e2f;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  margin-top: 30px;
}

.nav-link {
  font-weight: bold;
}

.browse {
  font: Poppins;
  font-size: 32px;
  font-weight: 700;

  text-align: left;
}

.brows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 15px;
  margin-top: 41px;
}

.browse p {
  line-height: 2px;
}

.phot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 5px;
}

.txt-dsn {
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
}

.products {
  width: 285px;
  height: 446px;
  position: relative;
}

.btm-txt {
  background: #f4f5f7;
  padding: 5px;
}

.headin {
  font: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28.8px;
}

.circle {
  height: 60px;
  width: 60px;
  background: #e97171;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-one {
  height: 60px;
  width: 60px;
  background: #2ec1ac;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.products-wrap-new {
  width: 50%;
  height: 55px;
  background: #f9f1e7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000000;
  margin-top: 5px;
  font-weight: bold;
}

.billing-sect {
  border: 1px solid black;
  border-radius: 5px;
  width: 450px;
  height: 35px;
}

.billing-sect-area {
  border: 1px solid black;
  border-radius: 5px;
  width: 527px;
  height: 120px;
}

.submit-btn {
  width: 137px;
  height: 35px;
  background-color: #b88e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.line-blog {
  width: 311px;
  height: 58px;
  border: 1px solid #9F9F9F;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-top: 20px;
}

.millenial-desc {
  width: 817px;
  height: 115px;
}

.millenial-title {

  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;


}

.read-more-line {
  border-bottom: 1px solid #000;
  width: 120px;
  margin-top: 5px;
}

.lap-pic {
  width: 817px;
  height: 500px;
  display: flex;

  justify-content: flex-end;
  margin-top: 20px;
}

.line-blog-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.line-blog img {
  width: 24px;
  height: 24px;
}

.billing-sect-new {
  border: 1px solid black;
  border-radius: 5px;
  width: 450px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.billing-sect-wrap-right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.billing-sect-wrapper {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.m-pay {
  width: 528px;
}

.place {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 318px;
}

.rect-angle {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rect-number {
  color: #000;
}

.order-wrap {
  width: 50%;
}

.wrapof-bckng {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.bckng-new {
  width: 108px;
  height: 105px;
  background: #f9f1e7;
}

.bckng-new img {
  width: 111px;
  height: 90px;
}

.product-wrap-new-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-totals {
  gap: 20px;
  width: 393px;
  height: 390px;
  background: #f9f1e7;
  display: flex;
  flex-direction: column;
}

.product-new-overall {
  display: flex;
  justify-content: space-around;
}

.sub-total {
  display: flex;
  justify-content: space-around;
}

.cart-totl {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.total-alignm {
  display: flex;
  justify-content: space-around;
}

.atc {
  background-color: #fff;
  color: #b88e2f;
  position: absolute;
  bottom: 280px;
  left: 80px;
  width: 100px;
  padding: 5px;
}

.chck-out {
  border: 1px solid #000;
  border-radius: 5px;
  width: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chck-out-wrap {
  display: flex;
  justify-content: center;
}

.icons-align {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 21px;
  bottom: 198px;
  color: #fff;
  gap: 8px;
}

.show-btn {
  border: 1px solid #b88e2f;
  color: #b88e2f;
  height: 20px;
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-btn-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.show-align {
  display: flex;
  justify-content: center;
}

.rooms-btn {
  border: 1px solid #b88e2f;
  background-color: #b88e2f;
  height: 20px;
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.fify {
  width: 280px;
  font: Poppins;
  font-size: 20px;
  font-weight: 700;
}

.fif {
  width: 280px;
  font: Poppins;
  font-size: 15px;
}

.align-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-sect {
  margin-top: 40px;
}

.footer-title {
  font: Poppins;
  font-size: 24px;
  font-weight: 700;
}

.footer-desc {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
}

.headin {
  font: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  margin-bottom: 30px;
}

.footer-sect {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.email-align {
  display: flex;
  gap: 15px;
}

.email-align li {
  border-bottom: 1px solid #000;
}

.right-rs {
  font: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.sect-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-one {
  font: Poppins;
  font-size: 20px;
  font-weight: 600;
  color: #616161;
}

.title-two {
  font: Poppins;
  font-size: 40px;
  font-weight: 700;
  color: #3a3a3a;
}

.sect-bottom-one {
  display: flex;
  justify-content: space-between;
}

.sect-bottom-two {
  display: flex;
  justify-content: space-between;
}

.sect-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.img-setor {
  background-image: url("./images/wallback.svg");

  background-size: contain;

  height: 716.83px;
}

.hero-para-sect {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #333333;
  width: 546px;
}

/* page2 */

.backgrou {
  background-image: url("./images/banner.svg");
  height: 316px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titles {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
}

.foot {
  height: 100px;
  background: #f9f1e7;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.foot-sect {
  height: 100px;

  display: flex;
  gap: 10px;
  align-items: center;
}

.wrap-foot-sect {
  display: flex;
  justify-content: space-between;
  background: #f9f1e7;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.newclass {
  align-items: center;
  justify-content: center;
}

.def {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-rgt {
  border-right: 2px solid rgb(177, 177, 177);
  height: 50px;
}

.sixt {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  width: 20px;
  height: 30px;
}

.def {
  width: 188px;
  height: 55px;

  background-color: #fff;
}

.newclass {
  display: flex;
  justify-content: flex-end;
}

.foot-one {
  display: flex;
  align-items: center;

  gap: 13px;
}

.heading {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
}

.desc {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  color:#898989;
}

.header {
  background: #f9f1e7;
  height: 100px;
  display: flex;

  align-items: center;
  margin-bottom: 15px;
}
.fnameone{
  padding:10px;
  
}
.maindiv-title{
  font-size:30px;
  font-weight:600;
  background-color: red;
}



.left-division{
  width:48%;
}
.right-division{
  width:48%;
}
.header-wrap {
  align-items: center;
}
.lftheading{
  font-size: 36px;
  font-weight:600;
}
.f-input{
  padding:10px;
  height:56px;
  border-radius: 8px;
}

.lft-wrapper{
  width :48%;

}

.btm-div {
  display: flex;
  flex-direction: column;
  width: 76px;
  height: 80px;

  gap: 10px;
}

.btm-div-wrap {
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.img-full {
  height: 500px;
  background: #f9f1e7;
  border-radius: 10px;
}

.c-review {
  width: 180px;
  height: 20px;
  color: #9f9f9f;
}

.bord {
  border-right: 1px solid rgb(169, 169, 169);
  height: 40px;
}

.item-desc {
  width: 430px;
  font: Poppins;

  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
  text-align: justify;
}

.item-title {
  font-family: Poppins;
  font-size: 42px;
  font-weight: 400;
}

.l-edit {
  width: 30px;
  height: 30px;

  border-radius: 5px;
  background: #b88e2f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xledit {
  width: 30px;
  height: 30px;

  border-radius: 5px;
  background: #f9f1e7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.size {
  display: flex;
  gap: 10px;
}

.size-title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
}

.blue-clr {
  width: 30px;
  height: 30px;
  background: #816dfa;
  border-radius: 50px;
}

.yellow-clr {
  background: #b88e2f;
  width: 30px;
  height: 30px;

  border-radius: 50px;
}

.black-clr {
  background: #000;
  width: 30px;
  height: 30px;

  border-radius: 50px;
}

.l-one {
  width: 123px;
  height: 64px;

  border-radius: 10px;
  border: 1px solid #9f9f9f;
  opacity: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap {
  color: #9f9f9f;
}

.align-d {
  margin-bottom: 10px;
}

.bottom-sty {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.head {
  font-weight: bold;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;

  text-align: justified;
  row-gap: 5px;
  width: 95vw;
  margin: auto;
}

.text-wrap-one {
  max-width: 1026px;
}

.r-pro {
  text-align: center;

  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
}

.warp {
  color: #9f9f9f;
}

.cart {
  height: 746px;
  width: 417px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(193, 193, 193);
  border-radius: 8px;
}

.sofa-algns img {
  width: 100%;
}

.carts {
  height: 30px;
  padding: 8px;
  width: 87px;

  border-radius: 8px;
  border: 1px solid #fff;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carts-one {
  height: 30px;
  padding: 8px;
  width: 118px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-edit {
  display: flex;
  gap: 8px;
}

.carts-two {
  height: 30px;
  width: 118px;
  padding: 8px;
  width: 118px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-three {
  height: 30px;
  width: 135px;
  padding: 8px;
  width: 118px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-desn {
  color: #b88e2f;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
}

/* .backg{
  width:108px;
  height:105px;
  background-color: red;
} */

.titleproduct {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  width: 223px;
  color: #000000;
}

.viewm {
  color: #727272;
  border-bottom: 1px solid #727272;
  width: 100px;
}

.bckng {
  width: 280px;
  height: 177px;
  background: #f9f1e7;
}

.bckng img {
  width: 100%;
}

.c-product {
  background: #b88e2f;
  width: 242px;
  justify-content: space-between;
  align-items: center;
  height: 39px;
  border-radius: 6px;
  padding: 5px;
}

.para-wid {
  width: 241px;
}

.box-btm-new {
  width: 215px;
  height: 64px;
  background: #b88e2f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gen-1 {
  width: 310px;
  border-right: 1px solid #e8e8e8;
  padding-top: 30px;
  gap: 20px;
}

.get-in {
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
}

.more-info {
  width: 644px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
  text-align: center;
}

.categ {

  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;


}

.bi-detail {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  color: #000000;


}

.hero{
  background-image: url("./images/banner.svg");
  width: 100vw;
  height:316px;
  background-size:cover;
}
.inner{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .box-rgt {
    width: 95vw;
    height: auto;
  }

  .footer-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .box-wrap-all {
    width: 95vw;
  }

  .right-rs {
    text-align: center;
  }

  .align-wrap {
    flex-wrap: wrap;
    width: 95vw;
    align-items: center;
    gap: 5px;
  }

  .newarr-one {
    width: auto;
  }

  .box-rgt-padn {
    padding: 50px 10px 30px 30px;
  }

  .img-setor {
    flex-wrap: wrap;
  }

  .newarr-one {
    font-size: 39px;
  }
}

@media only screen and (max-width: 700px) {
  .foot {
    height: 130px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 780px) {
  .btm-div {
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 780px) {
    .newedited {

      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    @media only screen and (max-width: 394px) {

      .lap-pic {
        width: 90vw;
      }

      .millenial-desc {
        width: 95vw;
      }
    }
  }
}